---
import CardButton from "./CardComponents/CardButton.astro";

interface Props {
  img: string;
  title: string;
  description: string;
  tags: string[];
  link: string;
  github: string;
  slug: unknown;
}

const { img, title, description, tags, link, github, slug } = Astro.props;
---

<article>
  <a href=`./projects/${slug}`>
    <figure>
      <img transition:name={`img-${slug}`} src={img} alt={title} />
      <figcaption transition:name={`title-${slug}`}>{title}</figcaption>
    </figure>
  </a>
  <ul>
    {tags.map((tag: string) => <li>{tag}</li>)}
  </ul>
  <p>{description}</p>
  <div>
    <CardButton link={link}>Live</CardButton>
    <CardButton link={github}>Github</CardButton>
  </div>
</article>
